<div class="ekart-product--container">
    <!-- <img [src]="product.pImage" alt="iPhone">
    <p>Name: {{product.name}}</p>
    <p>Price: ${{product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discount: ${{getDiscountedPrice().toFixed(2)}}</p>
    <p>{{product.inStock > 0 ? 'Only ' + product.inStock+' Items Available' :'No Stock Available'}}</p>
    <button (click)="decrementCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incrementCartValue()">+</button> -->

    <app-search></app-search>
    <app-product-list></app-product-list>
</div>